/* 主窗口图片 */
FORM_HEAD BITMAP "rc/head.bmp"  /* 标题栏 */
FORM_LEFT BITMAP "rc/bord-left.bmp"  /* 左边框 */
FORM_RIGHT BITMAP "rc/bord-right.bmp"  /* 右边框 */
FORM_FOOT BITMAP "rc/foot.bmp"  /* 底边框 */
FORM_MIN BITMAP "rc/min.bmp"  /* 最小化按钮 */
FORM_CLOSE BITMAP "rc/close.bmp" /* 关闭按钮 */
FORM_ICON BITMAP "rc/icon.bmp" /* 图标按钮 */
