/********************
 *    控件资源文件
 ********************/
#include <windows.h>

EXE_ICON ICON "rc/logo-chat32.ico"

FORM_HEAD BITMAP "rc/head.bmp"  /* 标题栏 */
FORM_LEFT BITMAP "rc/bord-left.bmp"  /* 左边框 */
FORM_RIGHT BITMAP "rc/bord-right.bmp"  /* 右边框 */
FORM_FOOT BITMAP "rc/foot.bmp"  /* 底边框 */
FORM_MIN BITMAP "rc/min.bmp"  /* 最小化按钮 */
FORM_CLOSE BITMAP "rc/close.bmp" /* 关闭按钮 */
FORM_ICON BITMAP "rc/logo.bmp" /* 图标按钮 */

AVATAR_B BITMAP "rc/avatar_b.bmp" /* 默认大头像 */
AVATAR_S BITMAP "rc/avatar_s.bmp" /* 默认小头像 */
ST_IDLE BITMAP "rc/st_idle2.bmp" /* 发呆状态图标 */
ST_BUSY  BITMAP "rc/st_busy2.bmp" /* 忙碌状态图标 */

GROUP_ARROW BITMAP "rc/grouparrow.bmp" /* 分组下拉箭头 */
NAME_FLAG BITMAP "rc/flag.bmp" /* 名字右边的下拉箭头 */

/* 各种图标 */
ICON_FILE BITMAP "rc/icon_file.bmp"
